{
  email {env.EMAIL}
}

*.{$DOMAIN} {
	tls {
	  dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}

	@wm host wm.{$DOMAIN}
	handle @wm {
		request_body {
			max_size 64GB
		}

		reverse_proxy https://{$LOOPBACK}:10000 {
			transport http {
				tls_insecure_skip_verify
			}

			flush_interval -1
		}
	}

	@ha host ha.{$DOMAIN}
	handle @ha {
		reverse_proxy http://{$LOOPBACK}:8123
	}

	@gl host gl.{$DOMAIN}
	handle @gl {
		reverse_proxy http://{$LOOPBACK}:3001
	}

	handle {
		abort
	}
}
