name: cloudflared

networks:
  tunnel:
    external: true
    name: tunnel

services:
  clouddflared:
    command: tunnel --no-autoupdate run
    container_name: cloudflared
    env_file:
      - secrets.enc.env
    image: cloudflare/cloudflared:latest@sha256:e9bcb2ef08d25632ff74344e73a025f4f4bf12718335b196fa0e670cacace8c5
    networks:
      - tunnel
    restart: unless-stopped
